<div class="row">

  <div class="col-sm-12" align="center">

    <br>
    <h2 style="color: white">Fiestas Próximas</h2>
    <!--<br>
    <label style="color: white">Buscar por lugar:</label>
    <br>
    <input type="text" [(ngModel)]="searchText" type="search" (keyup)="onNameKeyUp($event)" placeholder="Lugar" name="search">
    <button type="button"  class="btn btn-default btn-sm" style="margin-left: 10px">
      <span class="glyphicon glyphicon-search">Buscar</span>
    </button>
    <br>
    <br>-->
    <!--<label style="color: white">Buscar por fecha:</label>
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input id="fechaBuscar" class="form-control" placeholder="yyyy-mm-dd"
                 name="dp"  [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <span class="fa fa-calendar" style="font-size:18px;color:#93C54B"></span>
            </button>
          </div>
        </div>
      </div>
      <button type="button"  class="btn btn-default btn-sm" style="margin-left: 0px">
        <span class="glyphicon glyphicon-search">Buscar</span>
      </button>
    </form>-->

  </div>

  <div class="col-sm-12">

    <br>

  </div>


  <div class="col-sm-12">

    <div class="container">

      <div class="row">

        <div class="col-sm-4" *ngFor="let info of arregloNotificacion">
              <div class="card">
                <img class="rounded float-right img-fluid" src={{info.imagenLugar}} alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Lugar: {{info.nombre}}</h4>
                  <p class="card-text">Fecha: {{info.fechaFiesta}}</p>
                  <p class="card-text">Hora: {{info.horaInicio}}</p>
                  <!--<button class="btn btn-primary" (click)="eliminar()">Ver</button>-->
                </div>
              </div>
            </div>
      </div>


    </div>


  </div>


</div>





