.btn-default {

  background-color: transparent;
  color: white;

}

.nav-link{

  color: white;
}

.dropdown-item{

  background-color: white;
  color: black;
  text-align: right;

}

.dropdown-item:hover{

  background-color: #F8F5F0;

}
