<div class="container">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" id="formCabecera" #cabecera="ngForm" (submit)="ingresoUsuario($event, cabecera)">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="email" id="correo" class="form-control" placeholder="Correo Electrónico" required autofocus (ngModel)="correo1" name="correo">
      <input type="password" id="password" class="form-control" placeholder="Contraseña" required (ngModel)="password1" name="password">
      <div id="remember" class="checkbox">
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
      <a [routerLink]="['/registro']">¿Aún no te has registrado? Registrate</a>
    </form><!-- /form -->
  </div><!-- /card-container -->
</div><!-- /container -->
