<app-barra-navegacion></app-barra-navegacion>
<app-navegador-secundario></app-navegador-secundario>
<br>
<br>
<br>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6" style="align-content: center">
    <img src="http://www.stickpng.com/assets/images/580b585b2edbce24c47b28d6.png" alt="" width="900" height="300">
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h3><strong>Lugar:</strong></h3><input type="text" class="form-control" id="inputLugar">
    <br>
    <h3><strong>Fecha:</strong></h3><form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
    </div>
  </form>

    <hr/>
    <pre>Model: {{ model | json }}</pre>
    <br>
    <h3><strong>Hora inicio:</strong></h3><input type="text" class="form-control" id="inputHoraIni">
    <br>
    <h3><strong>Hora fin:</strong></h3><input type="text" class="form-control" id="inputHoraFin">
    <br>
    <div class="row">
      <div class="col-sm-6"><h3><strong>Invitados:</strong></h3></div>
      <div class="col-sm-6" align="left"><div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">Invitado 1</button>
          <button class="dropdown-item">Invitado 2</button>
          <button class="dropdown-item">Invitado 3</button>
        </div></div>
    </div>
    <br>
    <br><br>
    <button type="button" class="btn btn-default btn-sm" style="margin-left: 10px" routerLink="/nuevaFiesta"> Crear Fiesta
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </div>
  <div class="col-sm-3"></div>
</div>


